.event {
    display:flex;
    
    .category-icon-widget {
    	margin-right: .25em;
    }
    .time{
    	margin-right: .25em;
    }
    
    .badge-wrapper{
        font-size:inherit;
        margin-right:0;
        display:inline;
        .d-icon-lock{
           @if $show_locked_category_icon == "false"{
                display:none;
           }
            height: .5em;
            position: absolute;
            top: 0;
            left: -.25em;
        }
        .badge-category .d-icon{
            margin-right:.25em;
        }
        .category-name{
            display:none;
        }
    }
}

/* Dark Thème*/
.events-calendar-body .day .container{
    background-color:  var(--highlight-low);
}
.events-calendar-body .day.today .container{
    background-color:  var(--highlight-medium);
}
